.form-container{
  display: flex;
  justify-content: center;
  padding: 2% 30%;

}

header{
  display: flex;
  justify-content: space-between;

}

nav a{
  margin:5px 1rem;
}

div .mainpage{
  padding-top: 67px;
}