header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background: rgb(169, 149, 123);
	margin-bottom:20px;
    z-index: 10;
    margin-bottom: 0;
	position: fixed;

}


header .logo{
	display: flex;
	font-size:30px;
	align-items: center;
	justify-content: center;
	align-items: center;
}
header .logo a {
	color: rgb(255, 255, 255);
	display: flex;
	font-size:30px;
	align-items: center;
	justify-content: center;
	align-items: center;
}


header nav a {
	display:inline-block;
	color:rgb(255, 255, 255);
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.username {
    margin:10px 20px;
    font-size:20px;
    color: white;
	width: 100px;

}

header nav a:hover {
	background: rgb(249, 249, 249);
	border-radius:50px;
    color: rgb(0, 0, 0);
}

div.navbar{
    display:flex;
    width: 100%;
    justify-content: center;
    height:auto;
	align-items: center;

}

.sections{
    width: 10rem;
    margin: 0 10px;
}
.navbar h3.h3{
	color: rgb(254, 250, 245);
	font-weight: 600;
	border: none;
	display: flex;
	justify-content: center;
}
.navbar h3.h3:hover{
	border-radius: 15px;
	border: 1px solid rgb(254, 250, 245);
	color: rgb(255, 255, 255);
}

.profile{
	display: inline-flex;
	justify-content: center;
	align-items: center;

}

div.logo{
	width: 300px;
}

div.profile{
width: 40%;
}

div.profile span{
	width: 100px;
}

