.labelform{
    height: 30px;
    width: 200px;
    background-color:  rgb(242, 227, 208);
    border-radius: 15px;
    padding: 5px;
}
.submitbutton{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgb(241, 237, 232);
    border-radius: 10px;
    border: 1px solid rgb(141, 120,92);

}

.form-container{
    display: flex;
    align-items: center;
    padding-top: 10rem;

}
