div .page-grid{
    background-color:rgb(241, 237, 232);
    margin: 0;
    padding: 0;
}

.card-imgs {
    padding-top: 6rem;
    margin-left: 2rem;
    width: 400px;
    height: auto;
}

.maindetail div{
    display: inline-flex;
    justify-content: space-around;
    align-items: left;
    margin-top: 0rem;
    padding: 0;
    width: 100%;
    height: 550px;
}
.descriptiooon{
    margin: 0;
    padding: 0 7rem;
    width: 50%;
    font-weight: 600;

}
.maindetail div button{
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color:rgba(255, 255, 255, 0.887);
    border-radius: 10px;
    border: 1px solid rgb(141, 120,92);
    margin: 0 7rem;
    font-size: medium;

}
.detailss{
    display: flex;
    flex-direction: column;
}
.h4{
    color: rgb(141, 120,92);
    font-weight: 700;
    font-size: larger;
    margin: 0 0 0 7rem;
    display: flex;
    justify-content: center;
    width: 20%;
    border-radius: 15px;
    border: 1px solid;
  }

.atras{
    width: 150px;
    height: 30px;
    background-color:rgba(255, 255, 255, 0.887);
    border-radius: 10px;
    border: 1px solid rgb(141, 120,92);
    margin: 1rem 50%;
    font-size: medium;
}